@use "../../Utils/Entry";

nav {
    display: flex;
    flex-direction: row ;
justify-content: space-between;
font-size: 12px;
margin: 20px auto 20px auto;
width: 90%;
color: Entry.$primary;

@media (min-width: 700px) {
    font-size: 20px;
   
    
}

@media (min-width: 1000px) {
    font-size: 24px;
    width: unset;
     margin: 40px 100px 40px 100px;
}
}

nav div {
    display: flex;
    gap: 10px;
    align-items: center;


    @media (min-width: 700px) {
        gap: 40px;
    }

    @media (min-width: 1000px) {
        gap: 57px;
    }
}
a {
    color: Entry.$primary;
    text-decoration: none;

    &.pathname {
        text-decoration: underline;
    }
}

nav img {
    width: 122px;
    height: 40px;

    @media (min-width: 1000px) {
        width: 210px;
        height: 62px;
    }
}