@use "../../Utils/Entry.scss";

.aSize {
    margin: auto;
}

.homePres {
    color: white;
    font-size: 24px;
    height: 111px;
    margin: auto 20px auto 20px;
    border-radius: 10px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    z-index: 1;
    position: relative;


    &:after {
content: '';
display: block;
background : url('../../../Assets/Home.png') center/cover;
position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 100%;
        border-radius: 10px;
        z-index: -2;
    }

    &:before {
        content: '';
        display: block;
        
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 100%;
        opacity: 30%;
        background-color: black;
        
        z-index: -1;
        border-radius: 10px;

    }

    @media (min-width: 700px) {
        margin: 30px 100px 20px 100px;
        justify-content: center;
        font-size: 36px;
       
        

        
    }

    @media (min-width: 1000px) {
        margin: 63px 100px 43px 100px;
        padding: 77px 0 77px 0;
        font-size: 48px;
        border-radius: 25px;

        &:after {
            border-radius: 25px;
        }

        &:before {
            border-radius: 25px;
        }
    }
}

.LogementsHome {
    margin: auto 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (min-width: 425px) {
        background-color: #F6F6F6;
        border-radius: 25px;
        padding: 30px 0 30px 0;    
        align-items: center;
    }

    @media (min-width: 700px) {
        margin: auto 100px auto 100px;
    }

    @media (min-width: 1000px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 30px 50px 30px 50px;
        gap: 50px;
    } 
}