@use "../../Utils/Entry.scss";

.aSize {
    width: 335px;
    margin: auto;
}

.homePres {
    color: white;
    font-size: 24px;
    width: 319px;
    height: 111px;
    margin: auto;
    border-radius: 10px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    z-index: 1;
    position: relative;


    &:after {
content: '';
display: block;
background : url('../../../Assets/Home.png') center/cover;
position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 100%;
        border-radius: 10px;
        z-index: -2;
    }

    &:before {
        content: '';
        display: block;
        
        position: absolute;
        left: 0;
        top: 0;
        width:100%;
        height: 100%;
        opacity: 30%;
        background-color: black;
        
        z-index: -1;
        border-radius: 10px;

    }
}