@use "../../Utils/Entry.scss";

footer {
    height : 203px;
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    gap: 36px;
}

footer img {
    width: 122px;
    height: 36px;
}