@use "../../Utils/Entry.scss";

.BlockError {
    color: Entry.$primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 180px 0 130px 0;

    &--FourOFour {
        font-size: 96px;
        font-weight: 700;
    }

    &--explain {
        font-size: 18px;
        text-align: center;
    }
}

.LinkError {
text-decoration: underline;
font-size: 14px;
display: block;
text-align: center;
margin-bottom: 50px;
}