@use "../../Utils/Entry.scss";

.location {
    color: Entry.$primary;
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
    gap: 10px;

    @media (min-width: 700px) {
        justify-content: space-between;
        margin: 0;
    }

    &--title {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        @media (min-width: 1000px) {
            font-size: 36px;
        }
    }

    &--location {
        font-size: 14px;
        @media (min-width: 1000px) {
            font-size: 18px;
        }
    }
    &--tags {
     
        color: white;
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;

        &_element {
            background-color: Entry.$primary;
            width: 84px;
            height: 18px;
            font-size: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;

            @media (min-width: 1000px) {
                width: 115px;
            height: 25px;
            font-size: 0.6rem;
                    }
        }
    }
}